<!--
Jacob Opdahl, Peter Hanson, Emma Sax
Lab 5
-->

<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Calculate your GPA!</h1>
        <p class="lead"><small>Designed by Peter Hanson, Jacob Opdahl, Emma Sax</small></p>
    </div>
</header>

<!-- Our GPA calculator starts here. -->
<div class="col-md-4 col-md-offset-1 section2">
    <div>
        <table style="width:100%">

            <!-- This row just gives headings for the columns. -->
            <tr class="headingsRow">
                <td>Course Names</td>
                <td>Select Grade</td>
                <td>Select Credits</td>
                <td>GPA Calculator!</td>
            </tr>

            <!-- This will use ng-repeats to data bind with the classes array so anything
            updated here will update there. ng-repeat is used more than once to also show
            all the grade and credit options in the dropdown menus. -->
            <tr ng-repeat="class in classes track by $index">

                <!-- Used to data-bind to the course name.-->
                <td>{{classes[$index].name}}</td>

                <td>
                    <div class="btn-group" dropdown> <!--is-open="gradeStatuses.isopen{{$index+1}}"-->

                        <button type="button" class="btn fancybutton dropdown-toggle">
                            {{class.grade}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="grade in grades">
                                <a href="" ng-click="selectGrade(class, grade)">{{grade.letter}}</a>
                            </li>
                        </ul>

                    </div>
                </td>

                <td>
                    <div class="btn-group" dropdown> <!--is-open="creditStatuses.isopen{{$index+1}}"-->

                        <button type="button" class="btn fancybutton dropdown-toggle">
                            {{class.credits}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="credit in credits">
                                <a href="" ng-click="selectCredit(class, credit)">{{credit}}</a>
                            </li>
                        </ul>

                    </div>
                </td>

                <!-- A button is added to each course in the table so that it can be deleted.
                 It works by removing the course from the array at the current index of the course.-->
                <td>
                    <form ng-submit="removeClass(class)">
                        <input class="btn-primary removebutton" type="submit" value="Remove Course">
                    </form>
                </td>

            </tr>
        </table>

        <!-- This is data bound to update the calculated GPA in real time
        by binding to the output of the calculation method. -->
        <p>{{calculateGPA()}}</p>

        <!-- A button is used to add another course.
        The text in the input box becomes the name. -->
        <div class="row">

                <form ng-submit="addClass()">
                    <input class="textbox" type="text" ng-model="courseName" size="25" placeholder="Enter course name here!">
                    <input class="btn-primary addbutton" type="submit" value="Add Course">
                </form>

        </div>

    </div>
</div>