<!--
Jacob Opdahl, Peter Hanson, Emma Sax
Lab 5
-->

<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Calculate your GPA!</h1>
        <p class="lead"><small>Designed by Peter Hanson, Jacob Opdahl, Emma Sax</small></p>
    </div>
</header>

<!-- Our GPA calculator starts here. -->
<div class="col-md-4 col-md-offset-1 section2">
    <div>
        <table style="width:100%">

            <!-- This row just gives headings for the columns. -->
            <tr class="headingsRow">
                <td>Course Names</td>
                <td>Grade</td>
                <td>Credits</td>
                <td>GPA Calculator!</td>
            </tr>

            <!--Makes a new row for each class in classes which it gets from the database-->
            <tr ng-repeat="class in classes track by $index">

                <!-- Used to data-bind to the course name.-->
                <td>{{classes[$index].name}}</td>

                <td>
                    {{class.grade}}
                </td>

                <td>
                    {{class.credits}}
                </td>

                <!-- A button is added to each course in the table so that it can be deleted.
                 It works by removing the course from the database-->
                <td>
                    <form ng-submit="removeClass(class)">
                        <input class="btn-primary removebutton" type="submit" value="Remove Course">
                    </form>
                </td>

            </tr>
        </table>

        <!-- This is data bound to update the calculated GPA in real time
        by binding to the output of the calculation method. -->
        <p>{{calculateGPA()}}</p>

        <!-- A button is used to add another course.
        The text in the input box becomes the name. There are dropdown buttons to select
        grade and credits-->
        <div class="row">

                <form role="form" ng-submit="addClass()">
                    <input class="textbox" type="text" ng-model="courseName" size="25" placeholder="Enter course name here!">

                    <input class="textbox" type="text" ng-model="gradeValue" size="5" placeholder="Grade!">

                    <input class="textbox" type="number" ng-model="creditValue" size="5" placeholder="Credits!">

                    <input class="btn-primary addbutton" type="submit" value="Add Course">
                </form>

        </div>

    </div>
</div>